*{

}

#gameBoard {
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px 100px 100px;
    gap: 1px 1px;
}

/*.gameButton:hover {*/
/*    background-color: #848487;*/
/*}*/

/*.c-1:hover{*/
/*    background-color: #848487;*/
/*}*/

#turnIcon {
    max-width: 50px;
    max-height: 50px;
}